h1{
	text-align:center;
	font-size:35px;
	font-family:Castellar;
	font-style:italic;
	font-weight:bold;
	color:red;
	text-decoration:underline;
	line-height:80px;
}
div#header{
	height:130px;
	margin:0px;
	padding:0px;
	width:auto;
	background-color:pink;
	border:2px solid yellow;
}
img#left{
	height:130px;
	width:260px;
	float:left; 
}
img#right{
	height:130px;
	width:260px;
	float:right; 
}
img#home{
	height: 135px;
	width: 550px;
}
div.admit_card{
	width: 750px;
	height: auto;
	margin: auto;
	padding: 4px;
	background-color: #C9FFE5;
}
th > div#address{
	height: 150px;
	max-width: 200px;
	line-height: 20px;
}
td > div#photo{
	height: 150px;
	width: 165px;
	line-height: 150px;
	text-align: center;
}
td > div#sign{
	height: 150px;
	width: 150px;
	text-align: center;
	line-height: 150px;	
}
th#inclusion{
	text-align: left;
	line-height: 25px;
}
td#instructions > ol > li{
	line-height: 30px;
}






