div#info{
	width: 80%;
	height: auto;
	background: linen;
	margin: auto;
	margin-top: 1%;
	padding: 3px;
	border-radius: 10px;
}
th.per{
	font-size: 20px;
	font-style: italic;
	color: cyan;
	background-color: green;
	border-radius: 10px;
	text-decoration: underline;
}
th.edu{
	font-size: 20px;
	font-style: italic;
	color: linen;
	background-color: black;
	border-radius: 10px;
	text-decoration: underline;
}
table{
	margin-top: 5px;
	text-align: center;
}
