h1{
	text-align:center;
	font-size:35px;
	font-family:Castellar;
	font-style:italic;
	font-weight:bold;
	color:red;
	text-decoration:underline;
	line-height:80px;
}
div#header{
	height:130px;
	margin:0px;
	padding:0px;
	width:auto;
	background-color:pink;
	border:2px solid yellow;
}
img#left{
	height:130px;
	width:260px;
	float:left; 
}
img#right{
	height:130px;
	width:260px;
	float:right; 
}
table{
	border-collapse: collapse;
}
img.Photos
{
	width: 42%;
	height: inherit;
	float: right;
	border: 1px dotted white;
	border-radius: 5px;
}
th.about{
	font-size: 200%;
	color: purple;
	font-style: italic;
	text-decoration: underline;
}
th.detail{
	background-color: #4CAF50;
	border-right: 2px solid white;
	font-size: 19px;
	font-style: italic;
}
th.detail:last-child{
	border-right: none;
}
th.sadaqat{
	background-color: pink;
	color: maroon;
	font-style: italic;
}
th.shadab{
	background-color: #8F9779;
	color: magenta;
	font-style: italic;
}
th.saadat{
	background-color: #A1CAF1;
	color: #967117;
	font-style: italic;
}
th a{
	text-decoration: none;
	padding: 2px;
}
th.sadaqat a{
	color: green;
	border:2px solid red;
	border-radius: 6px;
}
th.shadab a{
	color: yellow;
	border: 2px dotted black;
	border-radius: 6px;
}
th.saadat a{
	color: black;
	border: 2px dashed white;
	border-radius: 6px;
}