div#Fname{
	width:220px;
	height:100px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:350px;
	left:280px;
	z-index:1;
	border-radius: 10px;
}
div#Lname{
	width:220px;
	height:100px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:370px;
	left:280px;
	z-index:1;
	border-radius: 10px;
}
div#Id{
	width:220px;
	height:100px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:450px;
	left:280px;
	z-index:1;
	border-radius: 10px;
}
div#Phone{
	width:240px;
	height:120px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:490px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}
div#Password{
	width:240px;
	height:120px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:500px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}
div#Country{
	width:240px;
	height:80px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:640px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}
div#State{
	width:240px;
	height:80px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:660px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}
div#Dist{
	width:240px;
	height:80px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:730px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}
div#Address{
	width:240px;
	height:80px;
	background-color:linen;
	border:2px solid green;
	display:none;
	position:absolute;
	top:760px;
	left:255px;
	z-index:1;
	border-radius: 10px;
}