div.left{
	float: left;
	margin-left: 20px;
	padding: 10px;
	background-color: linen;
	margin-top: .2%;
	height: 390px;
	width: 280px;
}
div.middle{
	float: left;
	margin-left: 10px;
	padding: 7px;
	background-color: cyan;
	color: black;
	margin-top: .2%;
	max-height: 450px;
	max-width: 500px;
	border-left: 2px dotted red;
	overflow-y: scroll;
}
div.right{
	float: left;
	margin-left: 10px;
	padding: 10px;
	background-color: linen;
	margin-top: .2%;
	height: auto;
	width: 450px;
}